// Navigation Styles here


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 0 100px 0 100px;
    width: 100%;  
    background: blue; 
    .topnav {
        justify-content: flex-end space-around;
        font-size: 16px;
    }    
    .navtext {
        text-decoration: none;
        color: black;
        padding: 20px;
    }                   
}



